name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --release
      - name: Test
        run: cargo test
      - name: Upload artifacts
        uses: actions/upload-artifact@v6.0.0
        with:
          name: release-artifacts
          path: target/release/
          if-no-files-found: warn
